.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(139, 0, 0, 0.833);
  position: relative;
}
 
.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 360px;
}
 
.login-label {
  font-size: xx-large;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
 
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding-right: initial;
}
 
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
 
.password-container .input-field {
  width: calc(100% - 10px);
}
 
.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
 
.continue-button {
  width: 100%;
  padding: 10px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
 
.continue-button:hover {
  background-color: #0097a7;
}
 
.forgot-password {
  display: block;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
 
.forgot-password:hover {
  text-decoration: underline;
}
 
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}